@font-face {
  font-family: popins;
  src: url(./poppins-v15-latin-regular.c14093ce.woff);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: popins;
}
html,body{
  height: 100%;
  width: 100%;
  overflow-x:hidden;
}

#page1 {
  height: 100vh;
}
#page1 nav{
  /* background-color: rgb(155, 131, 131); */
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
  height: 20vh;
  
}

#page1 .nav-left{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: 600;
}

#page1 .nav-left img{
  height: 38%;
}
#page1 .nav-right{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  color: rgb(2, 2, 2);
}
#page1 input{
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
}
#page1 nav .nav-right .search-bar{
border: 1px solid;
padding-left: 15px;
/* background-color: red; */
border-radius: 15px;
}
#page1 .nav-right .login-color-change{
  color: #FF5F5D;
}
#page1 .ribbon{
  background-color: rgb(221, 231, 198);
  min-height: 7vh;
  display: flex;
  gap: 2vw;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid ;
  border-bottom: 1px solid ;
  
}
#page1 .ribbon span{
  
  padding: 1%;
}
#page1 .ribbon span:hover{
  cursor: pointer;
}
#page1 .slider{
white-space: nowrap;
background-color: rgb(255, 255, 255);
height: 75vh;
padding: 2%;

}
#page1 .slider .img-container{
  display: inline-block;
  animation: slider infinite 15s linear;
}
#page1 .slider .img-container img{
  height:60vh;
  width: 60vh;
  border-radius: 5%;
}
#page1 .slider:hover .img-container {
  animation-play-state: paused;
  cursor: grab;
}
@keyframes slider {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

#page2 {
  position: relative;
  width:100%;


}
#page2 #page2bg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

#page2 .header{
  height: 10vh;
  width: inherit;
  background-color: #dadada;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px  solid ;
  font-size: 5vh;

}

#page2 .cake-catalogue{
  /* background-color: red; */
  /* height: 90vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vw;
  padding: 2%;

}
#page2 .cake-catalogue .my-cake{
  height:64vh ;
  width: 50vh;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border: 1px solid rgb(172, 171, 171);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  border-radius: 5%;
}
#page2 .cake-catalogue .cake-img{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}
#page2 .cake-catalogue img{
  height:45vh;
  width: 45vh;  
  border-radius: 5%;


}
#page2 .cake-catalogue .veg-nonveg i{
  color: green;
}
#page2 .cake-catalogue .cake-rating i{
  color: rgb(197, 128, 1);
}

#page3 {
  display: flex;
  width: 100vw;
  /* background-color: rebeccapurple; */
  margin-top: 2%;
  padding: 2%;
  /* flex-wrap: wrap; */
}
#page3 .left{
  width: 40vw;
}
#page3 .left img{
width: 100%;
}

#page3 .right{
  height: 100%;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
#page3 .right .header{
  padding: 5%;
  font-size: 4vh;
  text-align: center;
}
#page3 .right form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 5%;
  width: 100%;

}
#page3 .right form div{
  display: flex;
  width: 100%;

  gap: 20px;
  
}
#page3 .right input{
  width: inherit;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  outline-color: #d10700;
  background-color: #ffffff;

}
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */
 input::-webkit-inner-spin-button{
  margin: 0;
  -webkit-appearance: none;
 }
#page3 .right textarea{
  padding: 10px;
  outline-color: #FF5F5D;
  border-radius:5px;
  border: 1px solid;
  font-family: sans-serif;
  width: 100%;
  
}
#page3 .right #submit{
  background-color: #FF5F5D;
  color: #fff;
  width: 50%;
}


@media (max-width:786px) {
  #navText{
    display: none;
  }
  #page1 nav input{
    display: none;
  }
  #page1 nav .nav-right .search-bar {
   border: none;
  }
  #page1 nav{
    font-size: 1.3em;
  }
  #page3 .left{
    display: none;
  }
  #page3 .right{
    width: 100vw;
  }
}
